*.jpg
data/raw/**
*.pt
*.pth
venv/
/__pycache__/
.venv/
.env
data/processed/augmented/**
raw/*/labels.json
__pycache__/
*.log
unsloth_compiled_cache/
*.safetensors
outputs/results/**
data/models/
wandb/
outputs/checkpoints/